<style>
.header{
    display: flex;
    justify-content: space-around;
  
}
.header div:nth-child(1){
    background-color: antiquewhite;
    padding: 5%;
}
.header div:nth-child(2){
    background-color:aquamarine;
    padding: 5%;
}
.header div:nth-child(3){
    background-color:beige;
    padding: 5%;
}
</style>

<input type="text" [(ngModel)]="text"/>
<button (click)="addText()">Add</button>
<ul class="header">
  <div>
  <li>board one</li>
  <ul *ngFor="let text of one"><li (click)="toTwo(text)">{{text}}</li></ul>
</div>
<div>
  <li>board two</li> 
  <ul *ngFor="let text of two"><li (click)="toThree(text)">{{text}}</li></ul>
</div>
<div>
  <li>board three</li>

  <ul *ngFor="let text of three"><li>{{text}}</li></ul>
</div>
</ul>